/* Обнуляем отступы и поля для всех элементов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Скрыть полосу прокрутки в Chrome, Safari и Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Скрыть полосу прокрутки в IE, Edge и Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffdcd1;
}

header {
    background-color: #d16645;
    color: white;
    padding: 1rem;
    text-align: center;

}

.header-text {
    transition: color 0.3s ease, transform 0.3s ease;
    font-size: 19px;
    color: white;
}

.header-text:hover {
    color: #ffcc00; /* Изменяем цвет текста при наведении */
    transform: scale(1.05); /* Немного увеличиваем текст */
    cursor: pointer; /* Изменяем курсор, чтобы указать на кликабельность */
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #ffdcd1;
    padding: 1rem;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    margin: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

form {
    width: 300px;
    margin: 20px auto;
}

form label,
form input[type="text"],
form input[type="email"],
form input[type="submit"] {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.event-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}

.event {
    display: flex;
    margin-bottom: 40px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    border-radius: 15px; /* Это значение добавит закругление */
}

.event-image {
    flex: 0 0 200px;
    background-color: #ffdcd1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.event-image img {
    object-fit: cover; /* Заполнить контейнер без искажения, обрезая лишнее */
    object-position: center; /* Центрировать изображение */
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px; /* Закругление верхнего левого угла */
    border-bottom-left-radius: 15px; /* Закругление нижнего левого угла */
}

.event-details {
    flex: 1;
    padding: 20px;
}


h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #a64e33;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

/* Стили для контейнера формы */
.item-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стили для текстовых полей и кнопки */
.form-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-input:focus {
    outline: none;
    border-color: #4caf50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.form-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #45a049;
}


.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.item {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #f9f9f9;
}

.item-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.add-to-cart-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
    background-color: #45a049;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 0.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

