{% extends 'base.html' %}

{% block title %}
OG
{% endblock %}

{% block body %}

<div class="container-xxl">
    <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">


      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
          <a href="/member" class="btn btn-primary">
          <div class="d-flex flex-column h-100 p-3 pb-3 text-white text-shadow-1">

              <h2 class=""><center>Members</center></h2>
          </div>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
          <a href="/create-article" class="btn btn-primary">
          <div class="d-flex flex-column h-100 p-3 pb-3 text-white text-shadow-1">
            <h2 class=""><center>New</center></h2>
          </div>
          </a>
        </div>
      </div>


    </div>
  </div>

{% endblock %}