{% extends 'base.html' %}

{% block title %}
Edit member
{% endblock %}

{% block body %}


<div class="container-xxl">
    <center><h1>Edit member</h1></center>
    <div class="container">
        <form method="POST">
            <input type="text" name="title" id="title" class="form-control" value="{{member.title}}" placeholder="Input title"><br>
            <textarea type="text" name="text" id="text" class="form-control" placeholder="Input text">{{member.text}}</textarea><br>
            <input id="button" type="submit" class="btn btn-success" value="Update">
        </form>
    </div>
</div>

{% endblock %}