{% extends 'base.html' %}

{% block title %}
Members
{% endblock %}

{% block body %}


<div class="container-xxl">
    <h1><center>Members</center></h1>

    {% if members|length > 0 %}
        {% for member in members%}
            <div class="alert alert-dark">
                 <h2>{{ member.title }}</h2>
                 <p>{{ member.date.date() }}</p>
                 <a href="/member/{{ member.id }}" class="btn btn-success">About</a>
                 <a href="/member/{{ member.id }}/del" class="btn btn-danger">Delete</a>
                 <a href="/member/{{ member.id }}/update" class="btn btn-secondary">Edit</a>
            </div>
        {% endfor%}
    {% else %}
    <div class="alert alert-dark"><center><p>No members found</p></center></div>
    {% endif %}
</div>

{% endblock %}