{% extends 'kizuna_base.html' %}

{% block title %}
Store
{% endblock %}

{% block body %}

<!-- Вставьте это в подходящее место в вашем store.html -->
<div class="cart">

    <div class="cart-header">
        <h2>Cart</h2>
        <button class="toggle-cart">-</button>
    </div>

    <div class="cart-content">
            {% for item_id, quantity in session.cart.items() %}
                {% set item = items|selectattr("id", "equalto", item_id|int)|first %}
                <li>{{ item.name }} x {{ quantity }}</li>
            {% endfor %}

        <!-- Вы можете добавить общую стоимость, если хотите -->
        <p><strong>Total:</strong> <!-- Вставьте сюда общую стоимость --></p>
        <a class="add-to-cart-button" href="/checkout">Checkout</a>
    </div>
</div>



<div class="item-container">
    {% for item in items %}
    <div class="item hidden">
        <img src="{{ item.image_url }}" alt="{{ item.name }}" class="item-image">
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
        <p>Price: ${{ item.price }}</p>
        <a href="{{ url_for('add_to_cart', item_id=item.id) }}" class="add-to-cart-button">Add to cart</a>
    </div>
    {% endfor %}
</div>




{% endblock %}